<h3>New booking</h3>

<%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.error_notification %>

  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.input :total_price, as: :integer %>
  <%= f.submit %>
<% end %>
