

<div class="flat-show-banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path @flat.pictures[0].path if @flat.pictures.any? %>);">
</div>

    <!-- Apply second technique -->
    <div class="wrapper-white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="description-card">
            <h2><%= @flat.title %></h2>
              <h3>About this listing</h3>
              <p>
                <%= @flat.description %>
              </p>
              <ul>
                <li><strong>Max. guests: </strong> <%= @flat.max_guests %> </li>
                <li><strong>Price: </strong> <%= @flat.price %> </li>
                <li><strong>City: </strong> <%= @flat.city  %> </li>
                <li><strong>Postcode: </strong> <%= @flat.postal_code %> </li>
                <li><strong>Country: </strong> <%= @flat.country %> </li>
              </ul>
          </div>
          </div>

          <div class="col-xs-12 col-md-6">
          <div class="book-card">
            <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.error_notification %>

            <%= f.input :start_date, as: :date, class: "form-control input-lg" %>
            <%= f.input :end_date, as: :date, class: "form-control input-lg" %>
            <%= f.input :total_price, as: :integer, class: "form-control input-lg" %>
            <%= f.submit class: "btn btn-custom btn-fullwidth" %>
          <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>

    <% @flat.pictures.each do |picture| %>
  <%= cl_image_tag picture.path, width: 300, height: 200, crop: :fill %>
<% end %>

