<div class="flat-show-banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path @flat.pictures[0].path if @flat.pictures.any? %>);">
</div>

<!-- Apply second technique -->
<div class="wrapper-white">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <div class="description-card">
          <h1><%= @flat.title %></h1>
          <p>Entire place | <%= @owner.email %> |
            <% 5.times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            | 23 reviews
          </p>
          <h4>About this listing</h4>
          <p class="description-text">
            <%= @flat.description %>
          </p>

          <div class="flat-details">
            <div>
              <strong>City: </strong> <%= @flat.city %> <br>
              <strong>Postcode: </strong> <%= @flat.postal_code %> <br>
              <strong>Country: </strong> <%= @flat.country %> <br>
            </div>
            <div>
              <strong>Guests: </strong> <%= @flat.max_guests %> <br>
              <strong>Price: </strong> <%= @flat.price %> <br>
            </div>
            <div></div>
            <div></div>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="book-card">
          <% if current_user != nil and current_user.id == @owner.id %>
            <%= link_to "Your bookings", flat_bookings_path(@flat), class: "btn btn-custom btn-fullwidth" %>
          <% else %>
            <%= simple_form_for [@flat, @booking] do |f| %>
              <%= f.error_notification %>
              <div class="date-inputs">
                <div>
                  <%= f.input :start_date, as: :string, label: false, input_html: { class: 'datepicker', value: Date.today.strftime('%d/%m/%Y') } %>
                </div>
                <div>
                  <%= f.input :end_date, as: :string, label: false, input_html: { class: 'datepicker', value: Date.tomorrow.strftime('%d/%m/%Y') } %>
                </div>
              </div>
              <%= f.submit class: "btn btn-custom btn-fullwidth" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div>
      <% @flat.pictures.each do |picture| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= cl_image_tag picture.path, width: 300, height: 200, crop: :fill %>
        </div>
      <% end %>
    </div>

  </div>
</div>

