<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

      <%= simple_form_for(@flat) do |f| %>
        <% if @flat.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @flat.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="form-inputs">
          <%= f.input :title, placeholder: "Title", input_html: {class: "form-input-lg"} %>
          <%= f.input :address_line, placeholder: "Address", input_html: {class: "form-input-lg"} %>
          <%= f.input :postal_code, placeholder: "Postcode", input_html: {class: "form-input-lg"} %>
          <%= f.input :city, placeholder: "City", input_html: {class: "form-input-lg"} %>
          <%= f.input :country, placeholder: "Country", input_html: {class: "form-input-lg"} %>
          <%= f.input :price, placeholder: "Price", input_html: {class: "form-input-lg"} %>
          <%= f.input :max_guests, placeholder: "Max. guests", input_html: {class: "form-input-lg"} %>
          <%= f.input :description, placeholder: "Description", input_html: {class: "form-input-lg"}  %>
          <%= f.input :pictures, label: "Upload photos" %>
          <%#= f.input :pictures_cache, as: :hidden %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, input_html: {class: "form-input-lg"}  %>
        </div>
      <% end %>



<!--         <form>
          <div class="form-group">
            <input type="title" class="form-control" id="title" placeholder="Title">
          </div>
          <div class="form-group">
            <input type="price" class="form-control" id="price" placeholder="Price">
          </div>
          <div class="form-group">
            <input type="description" class="form-control" id="description" placeholder="Description">
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="">
              Terrace
            </label>
          </div>
          <div class="form-check disabled">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              Elevator
            </label>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form> -->

     </div>
  </div>
</div>


